@import "variables";

.container {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  h3 {
    font-weight: 300;
    font-family: var(--font-montserrat);
    margin-top: 15px;
    font-size: 16px;
  }

  > div {
    padding: 0 15px 10px 15px;
  }

  .date {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      p {
        margin: 0;
        margin-right: 10px;
        color: #4d4d4d;
      }

      input {
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        padding: 10px;
        min-width: 200px;
      }
    }
  }

  select {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }
  }
}
