@import "variables";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .genre {
    padding: 10px 0;
    background-color: $primaryColor;
    color: $whiteColor;
    font-weight: bold;
    flex: 0 0 calc(20% - 20px);
    text-align: center;

    p {
      margin: 0;
    }
  }
}
